* {
  box-sizing: border-box;
}

body {
  background-color: hsl(233deg, 47%, 7%);
  font-family: sans-serif, "Inter";
}

#card {
  background-color: hsl(244deg, 38%, 16%);
  width: 80%;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  color: white;
  margin: 10% auto;
  border-radius: 10px;
}
#card .left-side {
  padding: 40px;
  position: relative;
  border-radius: inherit;
  width: 60%;
  display: flex;
}
#card .left-side .inside-left-side {
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#card .left-side .inside-left-side:last-child {
  flex-wrap: nowrap;
}
#card .left-side .inside-left-side .top-side {
  color: hsl(0deg, 0%, 100%);
  font-size: 30px;
  font-weight: 700;
}
#card .left-side .inside-left-side .top-side span {
  color: hsl(277deg, 64%, 61%);
}
#card .left-side .inside-left-side .mid-side {
  color: hsla(0deg, 0%, 100%, 0.75);
  line-height: 1.6;
  text-align: left;
  margin: 35px 0;
  margin-bottom: 0;
  width: 400px;
}
#card .left-side .inside-left-side .bottom-side {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: inherit;
  margin: 60px 0 0;
  padding: 20px 0 0 0;
  font-weight: 700;
  font-size: 20px;
  font-family: sans-serif, "Lexend Deca";
}

.stats {
  margin: 0;
  margin-top: 20px;
  font-size: 25px;
}
.stats:first-child {
  margin: 0;
}

.stats-btm {
  margin: 10px 0 0 0;
  color: hsla(0deg, 0%, 100%, 0.5);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.right-side {
  border-radius: inherit;
  display: flex;
}
.right-side .photo {
  position: relative;
  border-radius: 0 5px 5px 0;
  display: flex;
}

.pic_overlay {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  display: block;
}
.overlay .overlayer {
  width: 540px;
  height: 447px;
  border-radius: 0 5px 5px 0;
  background-color: hsla(277deg, 81%, 32%, 0.541);
}

.top-pict {
  display: none;
}

@media (max-width: 1000px) {
  #card {
    background-color: hsl(244deg, 38%, 16%);
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 15px;
    color: white;
    margin: 70px auto;
    border-radius: 10px;
    text-align: center;
  }
  #card .left-side {
    margin: 40px auto;
    position: relative;
    border-radius: inherit;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  #card .left-side .inside-left-side {
    margin: 15px 20px;
    display: block;
  }
  #card .left-side .inside-left-side:last-child {
    flex-wrap: nowrap;
  }
  #card .left-side .inside-left-side .top-side {
    color: hsl(0deg, 0%, 100%);
    font-size: 30px;
    font-weight: 700;
  }
  #card .left-side .inside-left-side .top-side span {
    color: hsl(277deg, 64%, 61%);
  }
  #card .left-side .inside-left-side .mid-side {
    color: hsla(0deg, 0%, 100%, 0.75);
    line-height: 1.6;
    text-align: center;
    margin: 35px 0;
    margin-bottom: 0;
    width: 400px;
  }
  #card .left-side .inside-left-side .bottom-side {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-items: last baseline;
    margin: 10 auto;
    font-weight: 700;
    font-size: 20px;
    font-family: sans-serif, "Lexend Deca";
  }

  .stats {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 25px;
  }
  .stats:first-child {
    margin: 0 auto;
    margin-top: 20px;
  }

  .stats-btm {
    margin: 10px 0 0 0;
    color: hsla(0deg, 0%, 100%, 0.5);
    text-transform: uppercase;
    font-size: 15px;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228deg, 45%, 44%);
  }

  .right-side {
    border-radius: inherit;
    display: none;
  }
  .right-side .photo {
    position: relative;
    border-radius: 0 5px 5px 0;
    display: flex;
  }

  .overlay {
    position: absolute;
    top: 10px;
    right: au;
    display: hidden;
  }
  .overlay .overlayer {
    position: relative;
    width: 540px;
    height: 447px;
    border-radius: 0 5px 5px 0;
    background-color: hsla(277deg, 81%, 32%, 0.541);
  }

  .top-pict {
    display: block;
    position: relative;
  }
  .top-pict .photo2 {
    width: 700px;
    height: 500px;
    border-radius: 10px 10px 0 0;
  }
  .top-pict .photo2 .overlaypic {
    position: absolute;
    top: 0;
    border-radius: inherit;
    width: 700px;
    height: 500px;
    background-color: hsla(277deg, 81%, 32%, 0.541);
    z-index: 1;
  }
}
@media (max-width: 375px) {
  #card {
    background-color: hsl(244deg, 38%, 16%);
    width: 325px;
    display: flex;
    font-size: 15px;
    color: white;
    margin: 70px auto;
    border-radius: 10px;
    text-align: center;
  }
  #card .left-side {
    margin: 0;
    width: 325px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  #card .left-side .inside-left-side {
    display: flex;
    padding: 0;
    flex-direction: column;
    width: 300px;
    margin: 10px auto;
    text-align: center;
  }
  #card .left-side .inside-left-side:last-child {
    flex-wrap: nowrap;
  }
  #card .left-side .inside-left-side .top-side {
    color: hsl(0deg, 0%, 100%);
    font-size: 30px;
    width: 300px;
    font-weight: 700;
    margin: 0 auto;
  }
  #card .left-side .inside-left-side .top-side span {
    color: hsl(277deg, 64%, 61%);
  }
  #card .left-side .inside-left-side .mid-side {
    color: hsla(0deg, 0%, 100%, 0.75);
    line-height: 1.6;
    text-align: center;
    margin-bottom: 0;
    width: inherit;
  }
  #card .left-side .inside-left-side .bottom-side {
    display: flex;
    margin-top: 0;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
    font-size: 20px;
    font-family: sans-serif, "Lexend Deca";
  }

  .stats {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 25px;
  }
  .stats:first-child {
    margin: 0 auto;
    margin-top: 20px;
  }
  .stats:last-child {
    margin-bottom: 20px;
  }

  .stats-btm {
    margin: 10px 0 0 0;
    color: hsla(0deg, 0%, 100%, 0.5);
    text-transform: uppercase;
    font-size: 15px;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228deg, 45%, 44%);
  }

  .right-side {
    border-radius: inherit;
    display: none;
  }
  .right-side .photo {
    position: relative;
    border-radius: 0 5px 5px 0;
    display: flex;
  }

  .overlay {
    display: hidden;
  }

  .top-pict {
    display: block;
    position: relative;
  }
  .top-pict .photo2 {
    width: 325px;
    height: 200px;
    border-radius: 10px 10px 0 0;
  }
  .top-pict .photo2 .overlaypic {
    position: absolute;
    top: 0;
    border-radius: inherit;
    width: 325px;
    height: 200px;
    background-color: hsla(277deg, 81%, 32%, 0.541);
    z-index: 1;
  }
}
